In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("bangalore house price prediction OHE-data.csv")

In [3]:
house = pd.read_csv("Bengaluru_House_Data.csv")
house.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
house["area_type"].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [6]:
house.availability.unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [7]:
house.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [8]:
house["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [9]:
house.society.unique()

array(['Coomee ', 'Theanmp', nan, ..., 'SJovest', 'ThhtsV ', 'RSntsAp'],
      dtype=object)

In [10]:
house["size"].isna().sum()

16

In [11]:
house.society.isna().sum()

5502

In [12]:
house.society.unique()

array(['Coomee ', 'Theanmp', nan, ..., 'SJovest', 'ThhtsV ', 'RSntsAp'],
      dtype=object)

In [13]:
house.dropna(inplace = True)

In [14]:
house.isna().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [15]:
house.area_type

0        Super built-up  Area
1                  Plot  Area
3        Super built-up  Area
5        Super built-up  Area
11                 Plot  Area
                 ...
13313    Super built-up  Area
13314    Super built-up  Area
13315          Built-up  Area
13317          Built-up  Area
13318    Super built-up  Area
Name: area_type, Length: 7496, dtype: object

In [17]:
house.drop("availability", axis=1, inplace=True)
house.drop("society", axis=1, inplace=True)

In [18]:
house["bhk"] = house['size'].apply(lambda x: x.split(" ")[0]).astype(int)

In [19]:
house.head(5)

,area_type,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
5,Super built-up Area,Whitefield,2 BHK,1170,2.0,1.0,38.00,2
11,Plot Area,Whitefield,4 Bedroom,2785,5.0,3.0,295.00,4

In [21]:
house.drop("size",axis = 1,inplace = True)

In [22]:
house.head(5)

,area_type,location,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,Electronic City Phase II,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,3.0,120.00,4
3,Super built-up Area,Lingadheeranahalli,1521,3.0,1.0,95.00,3
5,Super built-up Area,Whitefield,1170,2.0,1.0,38.00,2
11,Plot Area,Whitefield,2785,5.0,3.0,295.00,4

In [23]:
house.location.value_counts()[:12].index

Index(['Whitefield', 'Sarjapur  Road', 'Electronic City', 'Kanakpura Road',
       'Thanisandra', 'Yelahanka', 'Hebbal', 'Raja Rajeshwari Nagar',
       'Hennur Road', 'Electronic City Phase II', 'Bannerghatta Road',
       'Uttarahalli'],
      dtype='object', name='location')

In [25]:
location_counts = house['location'].value_counts()

In [26]:
locations_to_keep = location_counts[location_counts >= 100].index

In [32]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7496 entries, 0 to 13318
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   7496 non-null   object
 1   location    7496 non-null   object
 2   total_sqft  7496 non-null   object
 3   bath        7496 non-null   float64
 4   balcony     7496 non-null   float64
 5   price       7496 non-null   float64
 6   bhk         7496 non-null   int32
dtypes: float64(3), int32(1), object(3)
memory usage: 439.2+ KB

In [27]:
locations_to_keep

Index(['Whitefield', 'Sarjapur  Road', 'Electronic City', 'Kanakpura Road',
       'Thanisandra', 'Yelahanka', 'Hebbal', 'Raja Rajeshwari Nagar',
       'Hennur Road', 'Electronic City Phase II', 'Bannerghatta Road',
       'Uttarahalli'],
      dtype='object', name='location')

In [34]:
house = house[house['location'].isin(locations_to_keep)]

In [35]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2269 entries, 0 to 13317
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   2269 non-null   object
 1   location    2269 non-null   object
 2   total_sqft  2269 non-null   object
 3   bath        2269 non-null   float64
 4   balcony     2269 non-null   float64
 5   price       2269 non-null   float64
 6   bhk         2269 non-null   int32
dtypes: float64(3), int32(1), object(3)
memory usage: 132.9+ KB

In [36]:
encoded = pd.get_dummies(house)

In [37]:
encoded

,bath,balcony,price,bhk,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,location_Bannerghatta Road,location_Electronic City,...,total_sqft_981 - 1249,total_sqft_982,total_sqft_983,total_sqft_984,total_sqft_985,total_sqft_987,total_sqft_990,total_sqft_993,total_sqft_994,total_sqft_995
0,2.0,1.0,39.07,2,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5,2.0,1.0,38.00,2,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
11,5.0,3.0,295.00,4,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,3.0,3.0,60.00,3,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
22,5.0,2.0,380.00,4,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13304,2.0,2.0,40.14,2,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
13308,3.0,1.0,142.00,3,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
13313,2.0,1.0,57.00,3,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
13315,4.0,0.0,231.00,5,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13317,2.0,1.0,60.00,2,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Split Data

In [38]:
X = encoded.drop('price', axis=1)
y = encoded['price']

print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (2269, 811)
Shape of y =  (2269,)

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4545)

print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (1588, 811)
Shape of y_train =  (1588,)
Shape of X_test =  (681, 811)
Shape of y_test =  (681,)

### Feature Scaling

In [40]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

In [42]:
# training
model = LinearRegression()
model.fit(X_train,y_train)
y_pred_train = model.predict(X_train)
print(f"Training score: {r2_score(y_train,y_pred_train)}")
print(f"Absolute error: {mean_absolute_error(y_train,y_pred_train)}")

Training score: 0.9335932907954603
Absolute error: 14.181428700630981

In [43]:
y_pred_test = model.predict(X_test)
print(f"Training score: {r2_score(y_test,y_pred_test)}")
print(f"Absolute error: {mean_absolute_error(y_test,y_pred_test)}")

Training score: -1.9740843751721894e+25
Absolute error: 204695031879146.72

## Polynomial Linear Regression - ML Model Training

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [49]:
poly_reg = PolynomialFeatures(degree=2)
poly_reg.fit(X_train)
X_train_poly = poly_reg.transform(X_train)
X_test_poly = poly_reg.transform(X_test)

MemoryError: Unable to allocate 3.91 GiB for an array with shape (1588, 330078) and data type float64

In [ ]:
print(X_train_poly)
print(X_test_poly)